div {
  text-align: center;
}

.data-display {
  display: inline-block;
  background-color: aqua;
  margin: 2%;
  height: 15vw;
  width: 15vw;

}

.graph-display {
  display: inline-block;
  margin: 2.5%;
  height: 5vw;
  width: 35vw;
}

